:root {
  --primary-background-color: #fff8ede3;
  --secondary-background-color: #ffdfd3c3 --;
  --third-background-color: #ffd0b8a8;
  --primray-color: #ff85586f;
}

body {
  background: var(--primary-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
